<div class="relative" style="
background: linear-gradient(
  143.6deg,
  rgba(192, 132, 252, 0) 20.79%,
  rgba(232, 121, 249, 0.26) 40.92%,
  rgba(204, 171, 238, 0) 70.35%
);
">
    <div
      class="absolute inset-0 blur-xl h-[580px]"
      
    ></div>
    <div class="relative" >
      <header>
        <div [ngClass]="{'mx-2 pb-5': isOpen, 'hidden': !isOpen}" class="md:hidden">
          <div class="flex items-center justify-between py-5 md:block">
            <a href="javascript:void(0)">
              <img
                src=""
                width="120"
                height="50"
                alt=""
              />
            </a>
            <div class="md:hidden">
              <button (click)="toggleMenu()" class="menu-btn text-gray-500 hover:text-gray-800">
                <ng-container *ngIf="isOpen; else burgerIcon">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      clip-rule="evenodd" />
                  </svg>
                </ng-container>
                <ng-template #burgerIcon>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                  </svg>
                </ng-template>
              </button>
            </div>
          </div>
        </div>

        <nav [ngClass]="{'absolute top-0 inset-x-0 bg-white z-10 shadow-lg rounded-xl border mx-2 mt-2 md:shadow-none md:border-none md:mx-0 md:mt-0 md:relative md:bg-transparent': isOpen}" class="pb-5 md:text-sm">
          <div class="gap-x-14 items-center max-w-screen-xl mx-auto px-4 md:flex md:px-8">
            <div class="flex items-center justify-between py-5 md:block" data-aos="fade-right">
              <a href="javascript:void(0)" class="relative top-3">
                <img src="assets/images/logo2.png" width="150" alt="">
              </a>
              <div class="md:hidden">
                <button (click)="toggleMenu()" class="menu-btn text-gray-500 hover:text-gray-800">
                  <ng-container *ngIf="isOpen; else burgerIcon2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd" />
                    </svg>
                  </ng-container>
                  <ng-template #burgerIcon2>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                  </ng-template>
                </button>
              </div>
            </div>

            <div [ngClass]="{'block': isOpen, 'hidden': !isOpen}" class="flex-1 items-center mt-8 md:mt-0 md:flex" data-aos="fade-left">
              <ul class="flex-1 justify-center items-center space-y-6 md:flex md:space-x-6 md:space-y-0">
                <li *ngFor="let item of menuItems" class="text-gray-700 hover:text-gray-900">
                  <a [href]="item.path" class="block md:text-lg font-bold">{{ item.title }}</a>
                </li>
              </ul>

              <div class="items-center justify-end mt-6 space-y-6 md:flex md:mt-0">
                <div class="relative inline-block text-left">
                    <div>
                      <button type="button" 
                              class="flex items-center justify-center gap-x-1 py-2 px-4 text-white font-medium bg-gray-800 hover:bg-gray-700 active:bg-gray-900 rounded-full md:inline-flex" 
                              id="menu-button"
                              (click)="toggleDropDown()"
                              aria-expanded="isDropDownOpen" 
                              aria-haspopup="true">
                        Sign up 
                        <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                          <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                        </svg>
                      </button>
                    </div>
                  
                    <!-- Dropdown menu, show/hide based on menu state -->
                    <div *ngIf="isDropDownOpen" 
                         class="absolute left-10 md:left-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" 
                         role="menu" 
                         aria-orientation="vertical" 
                         aria-labelledby="menu-button" 
                         tabindex="-1"
                         >
                      <div class="py-1" role="none">
                        <a routerLink="signuptraveler" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-800 hover:text-white" role="menuitem" tabindex="-1" id="menu-item-1">Traveler</a>
                        <a routerLink="signupagency" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-800 hover:text-white" role="menuitem" tabindex="-1" id="menu-item-2">Agency</a>
                      </div>
                    </div>
                  </div>
                  




              </div>
            </div>
          </div>
        </nav>
      </header>

      <!-- Section -->
      <section>
        <div class="max-w-screen-xl mx-auto px-4 py-28 gap-12 text-gray-600 overflow-hidden md:px-8 md:flex">
          <div class="flex-none space-y-5 max-w-xl" data-aos="zoom-in">

            <h1 class="text-4xl text-gray-800 font-extrabold sm:text-5xl">
                Traveling –  
                <span class="text-transparent bg-clip-text bg-gradient-to-r from-[#4F46E5] to-[#E114E5]">it leaves you speechless, </span>
                then turns you into a storyteller.
            </h1>
            <p class="text-xl font-bold">
                We live in a wonderful world that is full of beauty, charm and adventure. There is no end to the adventures we can have if only we seek them with our eyes open.
            </p>
            <div class="flex items-center gap-x-3 sm:text-sm">
                <div class="relative inline-block text-left">
                    <div>
                      <button type="button" 
                              class="flex items-center justify-center gap-x-1 py-2 px-4 text-white font-medium bg-gray-800 hover:bg-gray-700 active:bg-gray-900 rounded-full md:inline-flex" 
                              id="menu-button"
                              (click)="toggleSecondDropDown()"
                              aria-expanded="isDropDownOpen" 
                              aria-haspopup="true">
                        Get started
                        <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                          <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                        </svg>
                      </button>
                    </div>
                  
                    <!-- Dropdown menu, show/hide based on menu state -->
                    <div *ngIf="isSecondDropDownOpen" 
                         class="absolute left-10 md:left-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" 
                         role="menu" 
                         aria-orientation="vertical" 
                         aria-labelledby="menu-button" 
                         tabindex="-1"
                        >
                      <div class="py-1">
                        <a routerLink="travelerlogin" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-800 hover:text-white" role="menuitem" tabindex="-1" id="menu-item-1">Traveler</a>
                        <a routerLink="agencylogin" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-800 hover:text-white" role="menuitem" tabindex="-1" id="menu-item-2">Agency</a>
                      </div>
                    </div>
                  </div>
                  
              <img src="assets/images/travel-3.png" width="150" />
            </div>
          </div>
          <div class="flex-1 md:block md:relative md:-top-16 md:left-20" data-aos="fade-up">
            <img src="assets/images/travel-2.png" width="400" />
          </div>
        </div>
      </section>



      <section class="py-14" id="about">
        <div class="max-w-screen-xl mx-auto px-4 text-gray-600 md:px-8">
          <div class="max-w-2xl mx-auto text-center" data-aos="fade-up">
            <h2 class="text-xl text-gray-800 font-extrabold sm:text-4xl">
              Our customers are
              <span class="text-transparent bg-clip-text bg-gradient-to-r from-[#4F46E5] to-[#E114E5]">always happy</span> .
          </h2>
            <p class="mt-3 text-m font-bold ">
              Take a few minutes of every day to fantasize about how you would wander, travel, or explore if you could
            </p>
          </div>
      
          <div class="mt-12"  data-aos="zoom-in">
            <ul class="flex flex-col items-center justify-center gap-y-10 sm:flex-row sm:flex-wrap lg:divide-x">
              <li *ngFor="let item of stats" class="text-center px-12 md:px-16">
                <h4 class="text-4xl text-gray-700 font-semibold">{{ item.data }}</h4>
                <p class="mt-3 font-medium">{{ item.title }}</p>
              </li>
            </ul>
          </div>
        </div>
        <br><br>
        <div class="text-center">
          <h2 class="text-xl text-gray-700 font-extrabold sm:text-3xl" data-aos="fade-up">
            Who's Our partner ship ?
          </h2>
        </div>
        <div class="mt-12 flex justify-center" data-aos="zoom-in">
          <ul class="inline-grid grid-cols-2 gap-x-10 gap-y-6 md:gap-x-16 md:grid-cols-3 lg:grid-cols-4">
            <li>
              <img class="w-28 my-auto" src="assets/images/tunisiebooking.png" alt="">
            </li>
            <li>
              <img class="w-28 my-auto" src="assets/images/delice.png" alt="">
            </li>
            <li>
              <img class="w-32 my-auto" src="assets/images/boga.png" alt="">
            </li>

            <li>
              <img class="w-28 my-auto" src="assets/images/saida.png" alt="">
            </li>

          </ul>
      </div>
      </section>


      <section id="services">
        <div class="py-6 sm:py-8 lg:py-12">
          <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
            <!-- text - start -->
            <div class="mb-10 md:mb-16" data-aos="zoom-in">
              <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Services</h2>
        
              <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg font-bold">Life is about the adventures you take and the memories you make ...</p>
            </div>
            <!-- text - end -->
        
            <div class="grid gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-8">
              <!-- article - start -->
              <div class="flex flex-col overflow-hidden rounded-lg border bg-white" data-aos="fade-up">
                <a href="#" class="group relative block h-48 overflow-hidden bg-gray-100 md:h-64">
                  <img src="assets/images/hotel2.jpg" loading="lazy" alt="Photo by Minh Pham" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
                </a>
                <div class="flex flex-1 flex-col p-4 sm:p-6">
                  <div class="flex space-x-10 ">
                    <h2 class="mb-2 text-lg font-semibold text-gray-800">
                      <p class="transition duration-100 hover:text-indigo-500 active:text-indigo-600 border-b border-black">Djerba Castille</p>
                    </h2>
                    <h2 class="mb-2 text-lg font-semibold text-gray-800">
                      <p class="transition duration-100 hover:text-indigo-500 active:text-indigo-600 border-b border-black">Agency Name</p>
                    </h2>
                  </div>
                  
                  <div class="-ml-1 flex gap-0.5">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
          
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
          
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
          
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
          
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-300" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
                  </div>
                    <div class="flex items-center gap-10">
                      <div class="mt-10">
                        <p class="mb-8 text-gray-500 flex space-x-2">
                          <span class="mt-1"><svg
                           xmlns="http://www.w3.org/2000/svg"
                           width="16"
                           height="16"
                           fill="currentColor"
                           class="bi bi-geo-alt-fill"
                           viewBox="0 0 16 16"
                         >
                           <path
                             d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"
                           />
                         </svg></span>Djerba
                       </p>
                      </div>
                      <span class=" text-lg text-gray-600 font-bold">Apartir de 90 DT</span>
                    </div>
                </div>
              </div>
              <!-- article - end -->
                <!-- article - start -->
              <div class="flex flex-col overflow-hidden rounded-lg border bg-white" data-aos="fade-up">
                <a href="#" class="group relative block h-48 overflow-hidden bg-gray-100 md:h-64">
                  <img src="assets/images/hotel3.jpg" loading="lazy" alt="Photo by Minh Pham" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
                </a>
                <div class="flex flex-1 flex-col p-4 sm:p-6">
                  <h2 class="mb-2 text-lg font-semibold text-gray-800">
                    <a href="#" class="transition duration-100 hover:text-indigo-500 active:text-indigo-600 border-b border-black">Sousse Castille</a>
                  </h2>
                  <div class="-ml-1 flex gap-0.5">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
          
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
          
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
          
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
          
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-300" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
                  </div>
                    <div class="flex items-center gap-10">
                      <div class="mt-10">
                        <p class="mb-8 text-gray-500 flex space-x-2">
                          <span class="mt-1"><svg
                           xmlns="http://www.w3.org/2000/svg"
                           width="16"
                           height="16"
                           fill="currentColor"
                           class="bi bi-geo-alt-fill"
                           viewBox="0 0 16 16"
                         >
                           <path
                             d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"
                           />
                         </svg></span>Sousse
                       </p>
                      </div>
                      <span class=" text-lg text-gray-600 font-bold">Apartir de 120 DT</span>
                    </div>
                </div>
              </div>
              <!-- article - end -->
                <!-- article - start -->
              <div class="flex flex-col overflow-hidden rounded-lg border bg-white" data-aos="fade-up">
                <a href="#" class="group relative block h-48 overflow-hidden bg-gray-100 md:h-64">
                  <img src="assets/images/hotel4.jpg" loading="lazy" alt="Photo by Minh Pham" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
                </a>
                <div class="flex flex-1 flex-col p-4 sm:p-6">
                  <h2 class="mb-2 text-lg font-semibold text-gray-800">
                    <a href="#" class="transition duration-100 hover:text-indigo-500 active:text-indigo-600 border-b border-black">Bizerte Castille</a>
                  </h2>
                  <div class="-ml-1 flex gap-0.5">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
          
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
          
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
          
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
          
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-300" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
                  </div>
                    <div class="flex items-center gap-10">
                      <div class="mt-10">
                        <p class="mb-8 text-gray-500 flex space-x-2">
                          <span class="mt-1"><svg
                           xmlns="http://www.w3.org/2000/svg"
                           width="16"
                           height="16"
                           fill="currentColor"
                           class="bi bi-geo-alt-fill"
                           viewBox="0 0 16 16"
                         >
                           <path
                             d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"
                           />
                         </svg></span>Bizerte
                       </p>
                      </div>
                      <span class=" text-lg text-gray-600 font-bold">Apartir de 125 DT</span>
                    </div>
                </div>
              </div>
              <!-- article - end -->
                <!-- article - start -->
              <div class="flex flex-col overflow-hidden rounded-lg border bg-white" data-aos="fade-up">
                <a href="#" class="group relative block h-48 overflow-hidden bg-gray-100 md:h-64">
                  <img src="assets/images/hotel1.jpg" loading="lazy" alt="Photo by Minh Pham" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
                </a>
                <div class="flex flex-1 flex-col p-4 sm:p-6">
                  <h2 class="mb-2 text-lg font-semibold text-gray-800">
                    <a href="#" class="transition duration-100 hover:text-indigo-500 active:text-indigo-600 border-b border-black">Mahdia Castille</a>
                  </h2>
                  <div class="-ml-1 flex gap-0.5">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
          
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
          
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
          
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
          
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-300" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
                  </div>
                    <div class="flex items-center gap-10">
                      <div class="mt-10">
                        <p class="mb-8 text-gray-500 flex space-x-2">
                          <span class="mt-1"><svg
                           xmlns="http://www.w3.org/2000/svg"
                           width="16"
                           height="16"
                           fill="currentColor"
                           class="bi bi-geo-alt-fill"
                           viewBox="0 0 16 16"
                         >
                           <path
                             d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"
                           />
                         </svg></span>Mahdia
                       </p>
                      </div>
                      <span class=" text-lg text-gray-600 font-bold">Apartir de 89 DT</span>
                    </div>
                </div>
              </div>
              <!-- article - end -->
        
              
            </div>
          </div>
        </div>
      </section>




      <section class="py-14" id="contact">
        <div class="max-w-screen-xl mx-auto px-4 text-gray-600 md:px-8">
          <div
            data-aos="fade-right"
            class="max-w-lg mx-auto gap-12 justify-between lg:flex lg:max-w-none"
          >
            <div class="max-w-lg space-y-3">
              <p
                class="text-gray-600 text-center text-3xl font-semibold sm:text-4xl"
              >
                Contact
                <span class="text-violet-600 text-3xl font-semibold sm:text-4xl"
                  >US</span
                >
              </p>
              <br />
             
              <div>
                <ul class="mt-6 flex flex-wrap gap-x-10 gap-y-6 items-center">
                  <li class="flex items-center gap-x-3">
                    
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-envelope-at-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671"
                      />
                      <path
                        d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791"
                      /></svg
                    >
                    pathfinder&#64;gmail.com
                  </li>
                  <li class="flex items-center gap-x-3">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-telephone-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"
                      />
                    </svg>
                    53688551
                  </li>
                </ul>
                <ul class="mt-6 flex flex-wrap gap-x-10 gap-y-6 items-center">
                  <li class="flex items-center gap-x-3">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-geo-alt-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"
                      />
                    </svg>
                    bizerte
                  </li>
                </ul>
              </div>
              <div
                class="flex items-center justify-center"
              >
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50793.38019852298!2d9.820853208014018!3d37.281237025554155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e31e4db2105f13%3A0xf44361a00609c69e!2sBizerte!5e0!3m2!1sfr!2stn!4v1728508929309!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            </div>
            <div data-aos="fade-right" class="flex-1 mt-12 sm:max-w-lg lg:max-w-md">
              <form class="space-y-5 md:relative md:top-32">
                <div>
                  <label class="font-medium"> Full name </label>
                  <input
                    type="text"
                    required
                    class="w-full mt-2 px-3 py-2 text-gray-500 bg-transparent outline-none border focus:border-violet-500 shadow-sm rounded-lg"
                  />
                </div>
                <div>
                  <label class="font-medium"> Email </label>
                  <input
                    type="email"
                    required
                    class="w-full mt-2 px-3 py-2 text-gray-500 bg-transparent outline-none border focus:border-violet-500 shadow-sm rounded-lg"
                  />
                </div>
    
                <div>
                  <label class="font-medium"> Message </label>
                  <textarea
                    required
                    class="w-full mt-2 h-36 px-3 py-2 resize-none appearance-none bg-transparent outline-none border focus:border-violet-500 shadow-sm rounded-lg"
                  ></textarea>
                </div>
                <button
                  type="submit"
                  class="bg-gradient-to-r from-violet-600 to-indigo-7 shadow-lg bg-violet-900 w-full px-4 py-2 text-white font-medium hover:bg-violet-500 active:bg-violet-600 rounded-lg duration-150"
                >
                  Envoyer
                </button>
              </form>
            </div>
          </div>
        </div>
      </section>


    

    </div>

    <footer class="pt-10">
      <div class="max-w-screen-xl mx-auto px-4 text-gray-600 md:px-8">
        <div class="justify-between sm:flex">
          <div class="space-y-6">
            <img src="assets/images/logo2.png" class="w-32" />
            <p class="max-w-md">
              “ What you’ve done becomes the judge of what you’re going to do especially in other people’s minds. When you’re traveling, you are what you are right there and then. People don’t have your past to hold against you. No yesterdays on the road.”
            </p>
          </div>
        </div>
        <div class="mt-10 py-10 border-t md:text-center">
          <p>© 2024 PATHFINDER. All rights reserved.</p>
        </div>
      </div>
    </footer>
  </div>

