<main
  class="w-full h-screen flex flex-col items-center justify-center bg-gray-50 sm:px-4"
  style="background: linear-gradient(
    143.6deg,
    rgba(192, 132, 252, 0) 20.79%,
    rgba(232, 121, 249, 0.26) 40.92%,
    rgba(204, 171, 238, 0) 70.35%
  );
  "
>
  <div class="w-full space-y-6 text-gray-600 sm:max-w-md">
    <br class="md:hidden"><br class="md:hidden">
    <div class="text-center">
      <img src="assets/images/logo2.png" width="150" class="mx-auto" />
      <div class="mt-5 space-y-2">
        <h3 class="text-gray-800 text-2xl font-bold sm:text-3xl">
          Create an agency account
        </h3>
        
      </div>
    </div>
    <div class=" p-4 py-6 space-y-8 sm:p-6 sm:rounded-lg">
      
      <div class="relative">
        <span class="block w-full h-px bg-gray-300"></span>
        <p
          class="inline-block w-fit text-sm px-2 absolute -top-3 inset-x-0 mx-auto"
        >
          sign up
        </p>
      </div>
      <form  class="space-y-5" (ngSubmit)="signUp()">

        <div class="grid grid-cols-3 space-x-2">
          <div class="col-span-1">
            <label class="font-medium">Name</label>
            <input
              [(ngModel)]="name"
              name="name"
              type="text"
              required
              class="w-full mt-2 px-3 py-2 text-gray-500 bg-transparent outline-none border border-indigo-300  shadow-sm rounded-lg"
            />
          </div>
        <div class="col-span-2">
          <label class="font-medium">Email</label>
          <input
            [(ngModel)]="email"
            name="email"
            type="email"
            required
            class="w-full mt-2 px-3 py-2 text-gray-500 bg-transparent outline-none border border-indigo-300 shadow-sm rounded-lg"
          />
        </div>
        </div>
        
        <div>
          <label class="font-medium">Password</label>
          <input
            [(ngModel)]="password"
            name="password"
            type="password"
            required
            class="w-full mt-2 px-3 py-2 text-gray-500 bg-transparent outline-none border border-indigo-300 shadow-sm rounded-lg"
          />
        </div>
        <div>
            <label class="font-medium">Confirm Password</label>
            <input
              type="password"
              required
              class="w-full mt-2 px-3 py-2 text-gray-500 bg-transparent outline-none border border-indigo-300 shadow-sm rounded-lg"
            />
          </div>
          
          <div>
            <label class="font-medium">Agency Document</label>
            <input
                type="file"
                (change)="onFileSelected($event)"
                class="w-full mt-2 px-3 py-2 text-gray-500 bg-transparent outline-none border border-indigo-200 shadow-sm rounded-lg"
            />
        </div>
    
          
        <button
          class="w-full px-4 py-2 text-white font-medium bg-indigo-600 hover:bg-indigo-500 active:bg-indigo-600 rounded-lg duration-150"
        >
          Create
        </button>
      </form>
    </div>
   
  </div>
</main>